<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
</head>
<body>
<p th:text="${'Name: ' + book.getTitle()}">Name</p>
<p th:text="${'Author: ' + book.getAuthor()}">Author</p>
<p th:text="${'Year: ' + book.getYear()}">Year</p>

<div th:if="${owner}">
    <p th:text="${'Library owner: ' + owner.getFullName()}">Owner</p>
    <form th:method="PATCH" th:action="@{/book/{id}/release(id = ${book.getId()})}">
        <input type="submit" value="Release book">
    </form>
</div>

<div th:if="${users}">
    <form th:method="PATCH" th:action="@{/book/{id}/addowner(id = ${book.getId()})}">
        <span>Choose book owner</span>
        <br/>
        <label for="users">Users list</label>
        <select th:object="${user}" th:field="*{id}" id="users">
            <option th:each="user : ${users}" th:value="${user.getId()}"
                    th:text="${user.getFullName()}">
            </option>
        </select>

        <input type="submit" value="Choose user"/>
    </form>
</div>
<br/>

<form th:method="DELETE" th:action="@{/book/{id}(id = ${book.getId()})}">
    <input type="submit" style="color:brown" value="Delete book">
</form>
</body>
</html>