<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Library books</title>
</head>
<body>
<h1>All library books:</h1>

<p th:if="${books.isEmpty()}">No one library book</p>

<!--If list is empty next code will not display anything-->
<div th:each="book : ${books}">
    <a th:href="@{/book/{id}(id = ${book.getId()})}" th:text="${book.getTitle()} + ', ' + ${book.getYear()}"></a>
</div>
<br/>
<!-- with this "if" reference can see only admin-->
<div th:if="${#authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN')}">
    <a style="color: black" href="/book/new">Add new book</a>
</div>

</body>
</html>